<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />
	<arg name="config_file" default="$(find fast_calib)/config/hesai0425.yaml" />
	<arg name="pointcloud_source" default="" />
	<arg name="lidar_topic" default="" />
	<arg name="bag_path" default="" />
	<arg name="pcd_path" default="" />
	<arg name="image_path" default="" />
	<arg name="output_path" default="" />
	<arg name="exit_after_save" default="false" />
	<arg name="x_min" default="" />
	<arg name="x_max" default="" />
	<arg name="y_min" default="" />
	<arg name="y_max" default="" />
	<arg name="z_min" default="" />
	<arg name="z_max" default="" />
	<arg name="k3" default="" />
	<arg name="k4" default="" />
	<arg name="k5" default="" />
	<arg name="k6" default="" />
	<arg name="airy_hole_detector" default="true" />
	<arg name="airy_boundary_radius" default="" />
	<arg name="airy_boundary_min_angular_gap" default="" />
	<arg name="airy_boundary_min_neighbors" default="" />
	<arg name="airy_template_detector" default="true" />
	<arg name="airy_template_grid" default="" />
	<arg name="airy_template_angle_step_deg" default="" />
	<arg name="airy_template_ring_band" default="" />
	<arg name="airy_template_min_score" default="" />
	<arg name="lidar_center_extraction_mode" default="" />
	<arg name="lidar_strict_geometry" default="" />
	<arg name="lidar_geometry_side_rel_tol" default="" />
	<arg name="lidar_geometry_diag_rel_tol" default="" />
	<arg name="lidar_geometry_perimeter_rel_tol" default="" />
	<arg name="lidar_min_plane_points" default="" />
	<arg name="lidar_ransac_min_inliers" default="" />
	<arg name="lidar_ransac_radius_tolerance" default="" />
	<arg name="lidar_ransac_inlier_threshold" default="" />
	<arg name="lidar_template_min_ring_per_hole" default="" />
	<arg name="lidar_template_min_outer_per_hole" default="" />
	<arg name="lidar_template_max_inside_per_hole" default="" />
	<arg name="lidar_template_local_refine_radius" default="" />
	<arg name="lidar_template_local_refine_step" default="" />

	<rosparam file="$(arg config_file)" command="load" subst_value="true"/>
	<param if="$(eval arg('pointcloud_source') != '')" name="pointcloud_source" value="$(arg pointcloud_source)" />
	<param if="$(eval arg('lidar_topic') != '')" name="lidar_topic" value="$(arg lidar_topic)" />
	<param if="$(eval arg('bag_path') != '')" name="bag_path" value="$(arg bag_path)" />
	<param if="$(eval arg('pcd_path') != '')" name="pcd_path" value="$(arg pcd_path)" />
	<param if="$(eval arg('image_path') != '')" name="image_path" value="$(arg image_path)" />
	<param if="$(eval arg('output_path') != '')" name="output_path" value="$(arg output_path)" />
	<param name="exit_after_save" value="$(arg exit_after_save)" />
	<param if="$(eval arg('x_min') != '')" name="x_min" value="$(arg x_min)" />
	<param if="$(eval arg('x_max') != '')" name="x_max" value="$(arg x_max)" />
	<param if="$(eval arg('y_min') != '')" name="y_min" value="$(arg y_min)" />
	<param if="$(eval arg('y_max') != '')" name="y_max" value="$(arg y_max)" />
	<param if="$(eval arg('z_min') != '')" name="z_min" value="$(arg z_min)" />
	<param if="$(eval arg('z_max') != '')" name="z_max" value="$(arg z_max)" />
	<param if="$(eval arg('k3') != '')" name="k3" value="$(arg k3)" />
	<param if="$(eval arg('k4') != '')" name="k4" value="$(arg k4)" />
	<param if="$(eval arg('k5') != '')" name="k5" value="$(arg k5)" />
	<param if="$(eval arg('k6') != '')" name="k6" value="$(arg k6)" />
	<param name="airy_hole_detector" value="$(arg airy_hole_detector)" />
	<param if="$(eval arg('airy_boundary_radius') != '')" name="airy_boundary_radius" value="$(arg airy_boundary_radius)" />
	<param if="$(eval arg('airy_boundary_min_angular_gap') != '')" name="airy_boundary_min_angular_gap" value="$(arg airy_boundary_min_angular_gap)" />
	<param if="$(eval arg('airy_boundary_min_neighbors') != '')" name="airy_boundary_min_neighbors" value="$(arg airy_boundary_min_neighbors)" />
	<param name="airy_template_detector" value="$(arg airy_template_detector)" />
	<param if="$(eval arg('airy_template_grid') != '')" name="airy_template_grid" value="$(arg airy_template_grid)" />
	<param if="$(eval arg('airy_template_angle_step_deg') != '')" name="airy_template_angle_step_deg" value="$(arg airy_template_angle_step_deg)" />
	<param if="$(eval arg('airy_template_ring_band') != '')" name="airy_template_ring_band" value="$(arg airy_template_ring_band)" />
	<param if="$(eval arg('airy_template_min_score') != '')" name="airy_template_min_score" value="$(arg airy_template_min_score)" />
	<param if="$(eval arg('lidar_center_extraction_mode') != '')" name="lidar_center_extraction_mode" value="$(arg lidar_center_extraction_mode)" />
	<param if="$(eval arg('lidar_strict_geometry') != '')" name="lidar_strict_geometry" value="$(arg lidar_strict_geometry)" />
	<param if="$(eval arg('lidar_geometry_side_rel_tol') != '')" name="lidar_geometry_side_rel_tol" value="$(arg lidar_geometry_side_rel_tol)" />
	<param if="$(eval arg('lidar_geometry_diag_rel_tol') != '')" name="lidar_geometry_diag_rel_tol" value="$(arg lidar_geometry_diag_rel_tol)" />
	<param if="$(eval arg('lidar_geometry_perimeter_rel_tol') != '')" name="lidar_geometry_perimeter_rel_tol" value="$(arg lidar_geometry_perimeter_rel_tol)" />
	<param if="$(eval arg('lidar_min_plane_points') != '')" name="lidar_min_plane_points" value="$(arg lidar_min_plane_points)" />
	<param if="$(eval arg('lidar_ransac_min_inliers') != '')" name="lidar_ransac_min_inliers" value="$(arg lidar_ransac_min_inliers)" />
	<param if="$(eval arg('lidar_ransac_radius_tolerance') != '')" name="lidar_ransac_radius_tolerance" value="$(arg lidar_ransac_radius_tolerance)" />
	<param if="$(eval arg('lidar_ransac_inlier_threshold') != '')" name="lidar_ransac_inlier_threshold" value="$(arg lidar_ransac_inlier_threshold)" />
	<param if="$(eval arg('lidar_template_min_ring_per_hole') != '')" name="lidar_template_min_ring_per_hole" value="$(arg lidar_template_min_ring_per_hole)" />
	<param if="$(eval arg('lidar_template_min_outer_per_hole') != '')" name="lidar_template_min_outer_per_hole" value="$(arg lidar_template_min_outer_per_hole)" />
	<param if="$(eval arg('lidar_template_max_inside_per_hole') != '')" name="lidar_template_max_inside_per_hole" value="$(arg lidar_template_max_inside_per_hole)" />
	<param if="$(eval arg('lidar_template_local_refine_radius') != '')" name="lidar_template_local_refine_radius" value="$(arg lidar_template_local_refine_radius)" />
	<param if="$(eval arg('lidar_template_local_refine_step') != '')" name="lidar_template_local_refine_step" value="$(arg lidar_template_local_refine_step)" />

	<node pkg="fast_calib" type="fast_calib" name="fast_calib" output="screen">
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_calib)/rviz_cfg/fast_livo2.rviz" />
	</group>
launch-prefix="gdb -ex run --args"
launch-prefix="valgrind --leak-check=full"
</launch> 	
