<launch>
  <arg name="config_file" default="$(find fast_calib)/config/hesai.yaml"/>
  <arg name="data_dir" default=""/>
  <arg name="output_path" default="$(find fast_calib)/output/directory_batch"/>
  <arg name="groups" default=""/>
  <arg name="use_config_groups" default="false"/>
  <arg name="pointcloud_source" default="bag"/>
  <arg name="run_multi" default="true"/>
  <arg name="multi_mode" default="best"/>
  <arg name="multi_min_groups" default="3"/>
  <arg name="max_single_rmse" default="0.05"/>
  <arg name="continue_on_error" default="true"/>
  <arg name="lidar_topic" default="velodyne_first"/>
  <arg name="use_config_rois" default="false"/>
  <arg name="group_layout" default="save_data"/>
  <arg name="group_dir_prefix" default="save_data_"/>
  <arg name="bag_name" default="1.bag"/>
  <arg name="image_name" default="img_0001.jpg"/>
  <arg name="pcd_name" default=""/>

  <!-- Default ROI used for every group unless batch_calib.rois overrides a group. -->
  <arg name="x_min" default=""/>
  <arg name="x_max" default=""/>
  <arg name="y_min" default=""/>
  <arg name="y_max" default=""/>
  <arg name="z_min" default=""/>
  <arg name="z_max" default=""/>

  <rosparam file="$(arg config_file)" command="load" subst_value="true"/>

  <node pkg="fast_calib" type="batch_calib.py" name="directory_batch_fast_calib" output="screen" clear_params="true">
    <param name="config_file" value="$(arg config_file)"/>
    <param name="data_dir" value="$(arg data_dir)"/>
    <param name="output_path" value="$(arg output_path)"/>
    <param if="$(eval arg('groups') != '')" name="groups" value="$(arg groups)"/>
    <param name="use_config_groups" value="$(arg use_config_groups)"/>
    <param name="pointcloud_source" value="$(arg pointcloud_source)"/>
    <param name="run_multi" value="$(arg run_multi)"/>
    <param name="multi_mode" value="$(arg multi_mode)"/>
    <param name="multi_min_groups" value="$(arg multi_min_groups)"/>
    <param name="max_single_rmse" value="$(arg max_single_rmse)"/>
    <param name="continue_on_error" value="$(arg continue_on_error)"/>
    <param name="lidar_topic" value="$(arg lidar_topic)"/>
    <param name="use_config_rois" value="$(arg use_config_rois)"/>
    <param name="group_layout" value="$(arg group_layout)"/>
    <param name="group_dir_prefix" value="$(arg group_dir_prefix)"/>
    <param name="bag_name" value="$(arg bag_name)"/>
    <param name="image_name" value="$(arg image_name)"/>
    <param if="$(eval arg('pcd_name') != '')" name="pcd_name" value="$(arg pcd_name)"/>
    <param if="$(eval arg('x_min') != '')" name="x_min" value="$(arg x_min)"/>
    <param if="$(eval arg('x_max') != '')" name="x_max" value="$(arg x_max)"/>
    <param if="$(eval arg('y_min') != '')" name="y_min" value="$(arg y_min)"/>
    <param if="$(eval arg('y_max') != '')" name="y_max" value="$(arg y_max)"/>
    <param if="$(eval arg('z_min') != '')" name="z_min" value="$(arg z_min)"/>
    <param if="$(eval arg('z_max') != '')" name="z_max" value="$(arg z_max)"/>
  </node>
</launch>
