<launch>
  <arg name="config" default="$(find fast_calib)/config/two_camera_left.yaml" />

  <node pkg="fast_calib" type="two_camera_calib" name="two_camera_calib" output="screen">
    <!-- Load config into the private namespace of this node. -->
    <rosparam file="$(arg config)" command="load" subst_value="true" />
  </node>
</launch>
